/* PÁGINA DICAS  LESTO */
  div.pg.dicas{

  }
    div.pg.dicas>section.dicas-lesto {
      padding-bottom: 60px;
    }
      div.pg.dicas>section.dicas-lesto .conteudo {
        overflow: hidden;
      }
        div.pg.dicas>section.dicas-lesto .conteudo .titulo {
        }
        div.pg.dicas>section.dicas-lesto .conteudo .titulo span {
          max-width: 100%;
        }
        div.pg.dicas>section.dicas-lesto .conteudo .titulo span:before{
          max-width: 300px;
          left: 33%;
          
        }
        div.pg.dicas>section.dicas-lesto .conteudo .titulo span:after{
           right: 33%;
        }
        div.pg.dicas>section.dicas-lesto .conteudo ul, div.pg.post>section.post-relacionados .conteudo ul {
          display: flex;
          align-items: center;
          align-self: stretch;
          flex-wrap: wrap;
          justify-content: space-around;
        }
          div.pg.dicas>section.dicas-lesto .conteudo ul li, div.pg.post>section.post-relacionados .conteudo ul li{
            display: flex;
            max-width: 300px;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            align-self: center;
            font-size: 12px;
            margin: 15px 0;
          }
             div.pg.dicas>section.dicas-lesto .conteudo ul li:hover span{
              background:#fff;
              color:#4fd771;
              transition: 0.3s;


             }
             div.pg.dicas>section.dicas-lesto .conteudo ul li:hover p{
              background: linear-gradient(90deg, rgba(15,164,72,1) 1%, rgb(42, 208, 98) 79%, rgb(42, 208, 98) 79%);
              color:#fff;


             }
            div.pg.dicas>section.dicas-lesto .conteudo ul li h4{

              font-size: 20px;
              font-weight: 700;
              margin: 10px 0;
              padding: 5px 0;
              position: relative;

              }
              div.pg.dicas>section.dicas-lesto .conteudo ul li h4:after{
                content:"";
                border-bottom: 1px solid #000;
                width: 50%;
                position: absolute;
                bottom: 0;
                left: 30%;
              }
            div.pg.dicas>section.dicas-lesto .conteudo ul li figure{

            }
              div.pg.dicas>section.dicas-lesto .conteudo ul li figure img{
                box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.54);
                max-width: 400px;
                max-height: 217px;
                border-radius: 10px 10px 0 0px;

              }
            div.pg.dicas>section.dicas-lesto .conteudo ul li span{
               font-style: italic;
              background: linear-gradient(90deg, rgba(15,164,72,1) 0%, rgba(33, 179, 81) 46%, rgba(79, 215, 113) 99%);
              width: 100%;
              text-align: center;
              padding: 15px 0;
              color: #fff;
              box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.24);

              }
            div.pg.dicas>section.dicas-lesto .conteudo ul li p{
              box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.24);
              padding: 15px;
              background: #e9e9e980;
              border-radius: 0 0px 10px 10px;
              background-color: rgb(239, 239, 239);
              font-size: 11px;
              min-height: 150px;
            }
            div.pg.dicas>section.dicas-lesto .conteudo ul li{
              max-width: 350px;
            }
            div.pg.dicas>section.dicas-lesto .conteudo ul li figure img{
              width: 100%;
              max-width: 350px;
              max-height: 200px;
            }
            div.pg.dicas>section.dicas-lesto .conteudo ul{
              justify-content: space-evenly;
            }
