/*PAGINA INICIAL*/
  div.pg.lesto-home{

  }
    div.pg.lesto-home>section{

    }
    div.pg.lesto-home>section.carrosselDestaque{
      position: relative;
    }
      div.pg.lesto-home>section.carrosselDestaque button{
        border: none;
        background: transparent;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        outline: none;
      }
          div.pg.lesto-home>section.carrosselDestaque .item figure{
            height: 100vh;
          }
          div.pg.lesto-home>section.carrosselDestaque .item a img{
            -webkit-filter: opacity(.2);
            filter: opacity(.7);
            height: 100vh;
          }

          div.pg.lesto-home>section.carrosselDestaque .item .call{
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -325px;
            margin-top: -110px;
            width: 650px;
            z-index: 99;
          }
          div.pg.lesto-home>section.carrosselDestaque .item .call h2{
            float: left;
            width: 100%;
            text-align: center;
            font-size: 50px;
            font-weight: 700;
            color: #040404;
            text-transform: uppercase;
          }
          div.pg.lesto-home>section.carrosselDestaque .item .call p{
            float: left;
            width: 100%;
            color: #000;
            margin-top: 20px;
            line-height: 8px;
            text-align: center;
            font-size: 21px;
            font-weight: 600
          }
          div.pg.lesto-home>section.carrosselDestaque .item .call a{
            transition: all .5s;
            font-family: var(--lesto_opensans);
            position: absolute;
            left: 50%;
            bottom: -75px;
            box-sizing: border-box;
            width: 200px;
            margin-left: -90px;
            display: inline-block;
            border-radius: 31px;
            font-size: 24px;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            background-color: var(--Lesto_templateClara);
            padding: 13px 17px;
          }
          div.pg.lesto-home>section.carrosselDestaque .item .call a:hover {
            color: #fff;
            background-color: #000;
          }

          div.pg.lesto-home>section.carrosselDestaque .owl-dots{
            text-align: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 17px;
            z-index: 999999999;
          }
            div.pg.lesto-home>section.carrosselDestaque .owl-dot{
              display: inline-block;
              padding: 0 3px;
            }
              div.pg.lesto-home>section.carrosselDestaque .owl-dot span{
                width: 15px;
                height: 15px;
                display: inline-block;
                border-radius: 50%;
                border: 2px solid var(--Lesto_templateClara);
              }
            div.pg.lesto-home>section.carrosselDestaque .owl-dot.active span{
             background: var(--Lesto_templateClara);
             border: 2px solid transparent ;
             border-radius: 50%;
            }
     
      div.pg.lesto-home>section.lesto-quem-somos-home{

        padding-bottom: 50px;

        }
        div.pg.lesto-home>section.lesto-quem-somos-home article{
          font-size: var(--Lesto_sizeTextoHome);
          padding-right: 40px;
        } 
          div.pg.lesto-home>section.lesto-quem-somos-home  h3{
            font-size: 35px; 
            font-weight: 700;
            margin: 20px 0;

          }
          div.pg.lesto-home>section.lesto-quem-somos-home article p{

          }
          div.pg.lesto-home>section.lesto-quem-somos-home article span{
            font-weight: 700;

          }
        div.pg.lesto-home>section.lesto-quem-somos-home .carrosselSalas{
          margin-top: 20px;

        }  
        div.pg.lesto-home>section.lesto-quem-somos-home .carrosselSalas{
          position: relative;
          margin: 0 20px;
        }
      div.pg.lesto-home>section.lesto-quem-somos-home .carrosselSalas button.carrosselSalasEsquerda{
        border: none;
        width: 50px;
        height: 50px;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        outline: none;
        background: #fff;
      }
      div.pg.lesto-home>section.lesto-quem-somos-home .carrosselSalas button.carrosselSalasDireita{
        border: none;
        background: #fff;
        width: 50px;
        height: 50px;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        outline: none;
        right:0;
      }

      div.pg.lesto-home>section.lesto-quem-somos-home .carrosselSalas .carrosselSalasEsquerda:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        border-bottom: none;
        border-left: none;
        transform: rotate(228deg);
        position: relative;
        left: -2px;
        top: 3px;
      }
      div.pg.lesto-home>section.lesto-quem-somos-home .carrosselSalas .carrosselSalasDireita:after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        border-top: none;
        border-right: none;
        transform: rotate(228deg);
        position: absolute;
        right: 15px;
        top: 15px;
      }
      div.pg.lesto-home>section.lesto-quem-somos-home .carrosselSalas button.carrosselDestaqueDireita{
       
      }
      div.pg.lesto-home>section.lesto-quem-somos-home .carrosselSalas .item{
        height: 250px;
        max-width: 380px;
        margin: 0 auto;
        }
        div.pg.lesto-home>section.lesto-quem-somos-home .carrosselSalas .item a{}
          div.pg.lesto-home>section.lesto-quem-somos-home .carrosselSalas .item a img{
            height: auto;
        }
          div.pg.lesto-home>section.lesto-quem-somos-home .carrosselSalas .owl-dots{
            text-align: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 17px;
            z-index: 999999999;
          }
            div.pg.lesto-home>section.lesto-quem-somos-home .carrosselSalas .owl-dot{
              display: inline-block;
              padding: 0 10px;
            }
              div.pg.lesto-home>section.lesto-quem-somos-home .carrosselSalas .owl-dot span{
                width: 25px;
                height: 5px;
                display: inline-block;
                border: 2px solid #fff;
                background: #fff;
              }
            div.pg.lesto-home>section.lesto-quem-somos-home .carrosselSalas .owl-dot.active span{
             border: 2px solid transparent;
             background-color: rgb(142, 144, 143);
            }
        

      div.pg.lesto-home>section.lesto-servicos-oferecidos {

      }
        div.pg.lesto-home>section.lesto-servicos-oferecidos .titulo {

        }
          div.pg.lesto-home>section.lesto-servicos-oferecidos .titulo span{
            position: relative;
            display: block;
            width: 288px;
            margin: 0 auto;
          } 
          div.pg.lesto-home>section.lesto-servicos-oferecidos .titulo span:before{
            content: "";
            position: absolute;
            border-bottom: 5px solid #0fa448;
            width: 95%;
            bottom: -5px;
            z-index: 1;
            left: -5px;
          } 
          div.pg.lesto-home>section.lesto-servicos-oferecidos .titulo span:after{
            content: "";
            position: absolute;
            border-bottom: 5px solid #000;
            width: 50%;
            bottom: -5px;
          } 

        div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico {

        }          
          div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul{
            display: flex;
            padding-bottom: 30px;
            justify-content: center;

          }
            div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                align-self: stretch;
                padding: 16px 11px;
                margin:  10px;
                position: relative;
                max-width: 400px;
                max-height: 360px;
                }
              div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li .imgBackground{
                background-size: cover!important;           
                position: absolute;                            
                height: 100%;                  
                width: 100%;                            
                bottom: 0;                            
                z-index: -1;
              }
              div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li .opacity{
                position: absolute;
                height: 100%;
                width: 100%;
                background: #e3e3e3ed;
              }
              div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li figure{
                max-width: 90px;
                height: 75px;
              }
                div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li figure img{
                  height: auto;
                  width: 100%;
                }
              div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li h2{
                font-weight: 600;              
                text-align: center;
                max-width: 153px;
                font-size: 20px;
                padding-top: 10px;
                text-transform: uppercase;
              }
              div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li p{
              
                  text-align: center;

                  padding: 10px 0 25px 0;
              }
              div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li .btn-saiba-mais{
                font-size: 18px;
                text-transform: uppercase;
                color: #fff;
                background: var(--Lesto_btsClara);
                border-radius: 0px 5px 0 5px;
                padding: 5px 17px;
                cursor: pointer;
                }
                div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li .btn-saiba-mais span{
                }
 

              div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li .preco-mensal{
                padding: 10px;
                display: block;
                width: 100%;
                max-width: 30%;
                text-align: center;
                padding-bottom: 0;
              }
                div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li .preco-mensal span{
                  font-size: 10px;
                  font-weight: 600;
                }
                  div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li .preco-mensal span strong{
                    font-size: 24px;
                    position: relative;
                    line-height: 0;
                  }
                  div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li .preco-mensal span strong:before{
                    content: "R$";
                    position: absolute;
                    left: -14px;
                    font-size: 10px;
                    top: 50%;
                  }
      div.pg.lesto-home>section.lesto-unidades .lesto-unidade .mobile{
      display: none;
    }
    
      
      div.pg.lesto-home>section.lesto-unidades {

      }
        div.pg.lesto-home>section.lesto-unidades .lesto-unidade {

          margin-bottom: 64px;
        }
          div.pg.lesto-home>section.lesto-unidades .lesto-unidade .lesto-info-home {

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            align-self: stretch;
            margin: 5px 15px;
            padding: 0 24px;
            }

            div.pg.lesto-home>section.lesto-unidades .lesto-unidade .lesto-info-home span{

              padding: 20px 0;
              text-transform: uppercase;
              font-weight: 600;

              }
            div.pg.lesto-home>section.lesto-unidades .lesto-unidade .lesto-info-home article{

              padding-bottom: 10px;
              }
              div.pg.lesto-home>section.lesto-unidades .lesto-unidade .lesto-info-home article p{
                text-align: center;

              }
            div.pg.lesto-home>section.lesto-unidades .lesto-unidade .lesto-info-home .btn-saiba-mais{

              font-size: 20px;
              text-transform: uppercase;
              color: #fff;
              background: var(--Lesto_btsClara);
              padding: 10px 19px;
              cursor: pointer;
              margin: 30px 0;

              }
              div.pg.lesto-home>section.lesto-unidades .lesto-unidade .lesto-info-home .btn-saiba-mais span{
                font-weight: 100;

                }
          div.pg.lesto-home>section.lesto-unidades .lesto-unidade figure {

          }  
            div.pg.lesto-home>section.lesto-unidades .lesto-unidade figure img{
              width: 100%;
              max-width: 800px;
              height: 420px;
            }   
      
      div.pg.lesto-home>section.lesto-fale-conosco {
        margin: 25px 0;
        padding: 0 20px;

      } 
        div.pg.lesto-home>section.lesto-fale-conosco .container {

        }  
          div.pg.lesto-home>section.lesto-fale-conosco .container form{

          }
            div.pg.lesto-home>section.lesto-fale-conosco .container form .form-titulo{

            } 
              div.pg.lesto-home>section.lesto-fale-conosco .container form .form-titulo span{

              } 
            div.pg.lesto-home>section.lesto-fale-conosco .container form .form-subtitulo{

              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: 25px;

              } 
              div.pg.lesto-home>section.lesto-fale-conosco .container form .form-subtitulo p{
                font-size: 16px;
                }
              
              div.pg.lesto-home>section.lesto-fale-conosco .container form .form-subtitulo span{
                font-size: 25px;
                font-weight: 600;
                font-style: italic;
                }                  
                div.pg.lesto-home>section.lesto-fale-conosco .container form .form-subtitulo span p{

                }
             div.pg.lesto-home>section.lesto-fale-conosco .container form .form-info{
             }


            div.pg.lesto-home>section.lesto-fale-conosco .container form .info{
              display: inline-block;
              width: 49%;
              padding: 8px;
              border: 1px solid #c3c3c3;
              margin: 5px 0;
              padding-left: 15px;
            }        
            div.pg.lesto-home>section.lesto-fale-conosco .container form .info.full{
              display: block;
              width: 99%;
              margin: 10px 0;
            }         
              div.pg.lesto-home>section.lesto-fale-conosco .container form .info label{

                display: none;

                } 
            div.pg.lesto-home>section.lesto-fale-conosco .container form .textarea{
              margin: 15px 0!important;
              height: 180px;
              }
              div.pg.lesto-home>section.lesto-fale-conosco .container form .textarea label{
                display:none;
              }

              div.pg.lesto-home>section.lesto-fale-conosco .container form .info input{
                width: 100%;
                border: 0;
                }
              div.pg.lesto-home>section.lesto-fale-conosco .container form textarea{
                width: 100%;
                border: 0;
                resize: none;
                }
              div.pg.lesto-home>section.lesto-fale-conosco .container form .btn-enviar{

                } 
                div.pg.lesto-home>section.lesto-fale-conosco .container form .btn-enviar input{
                  font-size: 20px;
                  color: #fff;
                  background: var(--Lesto_btsClara);
                  padding: 3px 40px;
                  cursor: pointer;
                  margin: 5px 0;
                  border: 0;
                  font-weight: 600;

                }         
                div.pg.lesto-home>section.lesto-fale-conosco .container form .area-contato{
                  overflow: hidden;
                  max-width: 459px;
                  margin: 0 auto;

            }
            div.pg.lesto-home>section.lesto-fale-conosco .container form .area-contato .contato-titulo{
              margin: 22px auto;
              font-weight: 600;
              }    
              div.pg.lesto-home>section.lesto-fale-conosco .container form .area-contato .contato-titulo span{

              }  
            div.pg.lesto-home>section.lesto-fale-conosco .container form .area-contato .lesto-outros-contatos{

              color: #0fa448;

              }
              div.pg.lesto-home>section.lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                } 
                div.pg.lesto-home>section.lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li{
                  
                  display: inline-block;

                  }
                  div.pg.lesto-home>section.lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li .icone-contato{

                    display: block;

                    width: 58px;

                    min-height: 58px;

                    border: 1px solid #0fa448;

                    border-radius: 100%;

                    text-align: center;

                    margin: 0 auto;
                    }                 
                    div.pg.lesto-home>section.lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li .icone-contato i{

                      font-size: 35px;

                      padding: 10px;

                    }  
                    div.pg.lesto-home>section.lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li .icone-contato:hover{
                      background: #0fa448;
                      color: #fff;
                    }
                  div.pg.lesto-home>section.lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li .icone-contato.meio{
                      background: #0fa448;
                      color: #fff;
                    }
                    div.pg.lesto-home>section.lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li .icone-contato.meio:hover{
                      background: #fff;
                      color: #0fa448;
                    }

                  div.pg.lesto-home>section.lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li span{

                  }                
      div.pg.lesto-home>section.lesto-estatistica{

      }
        div.pg.lesto-home>section.lesto-estatistica .titulo{

        } 
          div.pg.lesto-home>section.lesto-estatistica .titulo span{

          }   
        div.pg.lesto-home>section.lesto-estatistica .estatisticas{
          display: flex;
          justify-content: space-around;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 20px 0;
        }           
          div.pg.lesto-home>section.lesto-estatistica .estatisticas .item{

            display: flex;

            }             
          div.pg.lesto-home>section.lesto-estatistica .estatisticas .item strong{
            font-size: 85px;
          }     
          div.pg.lesto-home>section.lesto-estatistica .estatisticas .item p{
            display: flex;
            align-items: center;
            max-width: 100px;
            margin-left: 10px;
          }   