      
/*PÁGINA LOCALIZAÇÃO*/
  div.pg.localizacao{

  }
    div.pg.localizacao>section.lesto-localizacao {

    }
      div.pg.localizacao>section.lesto-localizacao .horario-atendimento {

        padding: 20px 10px;

        font-size: 16px;
        }
        div.pg.localizacao>section.lesto-localizacao .horario-atendimento p {

            max-width: 450px;

            width: 100%;

            font-weight: 100;

            margin: 0 auto;
            }
      div.pg.localizacao>section.lesto-localizacao figure {
        max-height: 200px;
        overflow: hidden;

      }
        div.pg.localizacao>section.lesto-localizacao figure img{

          height: auto;

          width: 100%;

          }
      div.pg.localizacao>section.lesto-localizacao .titulo-unidade {

        text-align: center;

        background: #333;

        color: #fff;

        padding: 8px 0;

        }
        div.pg.localizacao>section.lesto-localizacao .titulo-unidade h3 {

          font-weight: 600;

          }
        div.pg.localizacao>section.lesto-localizacao .titulo-unidade p {

          text-transform: uppercase;

          font-size: 22px;

          }
      div.pg.localizacao>section.lesto-localizacao .mapa {

      }
        div.pg.localizacao>section.lesto-localizacao .mapa iframe, div.pg.contato .mapa iframe  {

        width: 100%;

        max-height: 260px;

        }