/* PÁGINA PLANOS LESTO */
  div.pg.planos{

  }
    div.pg.planos .titulo{

    }
      div.pg.planos .titulo{

      }

    div.pg.planos>section.planos-detalhados{

    }
      div.pg.planos>section.planos-detalhados .titulo{

      }
        div.pg.planos>section.planos-detalhados .titulo span{

        }
        div.pg.planos>section.planos-detalhados .titulo span:before{
        }
        div.pg.planos>section.planos-detalhados .titulo span:after{

        }


      div.pg.planos>section.planos-detalhados .plano{

      }
        div.pg.planos>section.planos-detalhados .plano figure{

      }
          div.pg.planos>section.planos-detalhados .plano figure img{

            width: 100%;

            height: 312px;
            }
        div.pg.planos>section.planos-detalhados .plano .info-plano {

          display: flex;

          }
          div.pg.planos>section.planos-detalhados .plano .info-plano.left {
            flex-direction: row-reverse;
            text-align: right;
            }
          div.pg.planos>section.planos-detalhados .plano .info-plano article {

            padding: 30px;

            color: var(--lesto_fontcinza);

            font-weight: 600;
            }
            div.pg.planos>section.planos-detalhados .plano .info-plano article h3 {
              display: inline-block;
              width: 100%;
              border-bottom: 2px solid var(--Lesto_fontCinza);
              text-transform: uppercase;
              font-size: 18px;
              max-width: 300px;
                }
              div.pg.planos>section.planos-detalhados .plano .info-plano article strong.valor {
                font-size: 30px;
                text-transform: uppercase;
                display: block;

                }
            div.pg.planos>section.planos-detalhados .plano .info-plano article ul{
              margin-bottom: 10px;

              }
              div.pg.planos>section.planos-detalhados .plano .info-plano article ul li{
                list-style: none;
                line-height: 1;
                margin-left: 20px;

              }
               div.pg.planos>section.planos-detalhados .plano .info-plano article ul li strong{
                  font-size: 14px;
                  position: relative;
                  text-transform: initial;
               }
               div.pg.planos>section.planos-detalhados .plano .info-plano article ul li strong:before {
                  content: "";
                  position: absolute;
                  width: 4px;
                  height: 4px;
                  border: 1px solid;
                  background: #000;
                  border-radius: 100%;
                  left: -8px;
                  top: 40%;
                }
            div.pg.planos>section.planos-detalhados .plano .info-plano article p{

              }