/* PAGINA SALA LESTO */
  div.pg.salas{

  }
    div.pg.salas>section.salas-lesto {
    }
      div.pg.salas>section.salas-lesto .unidades{

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 20px 0;
        }
        div.pg.salas>section.salas-lesto .titulo{

            max-width: 400px;

            }         
          div.pg.salas>section.salas-lesto .titulo span{
            max-width: 412px;
          }
          div.pg.salas>section.salas-lesto .titulo span:before{

            }
          div.pg.salas>section.salas-lesto .titulo span:after{

            right: 0px;

            }
        div.pg.salas>section.salas-lesto .conteudo .lesto-sala{
          margin-bottom: 30px;
        }
          div.pg.salas>section.salas-lesto .conteudo .lesto-sala .info{

            border: 1px solid #dfdbdc;

            border-top: 0;

            padding: 15px;
            }
          div.pg.salas>section.salas-lesto .conteudo .lesto-sala figure{          
          }
            div.pg.salas>section.salas-lesto .conteudo .lesto-sala figure img{
              max-width: 300px;
            }
            div.pg.salas>section.salas-lesto .conteudo .lesto-sala  h4{
              font-size: 15px;
              font-weight: 600;
              text-align: center;
              padding-bottom: 2px;
            }


          div.pg.salas>section.salas-lesto .conteudo .lesto-sala .clientes{
            display: flex;
            justify-content: space-between;
            }
            div.pg.salas>section.salas-lesto .conteudo .lesto-sala .clientes .ambiente-lesto {
              display: flex;
              flex-direction: column;
              color: var(--Lesto_btsClara);
            }
              div.pg.salas>section.salas-lesto .conteudo .lesto-sala .clientes .ambiente-lesto.right {
                text-align:right;
              }
          

              div.pg.salas>section.salas-lesto .conteudo .lesto-sala .clientes .ambiente-lesto span {
                border-top: 5px solid var(--Lesto_btsClara);
                font-weight: 600;
                padding-top: 5px;
              }
              div.pg.salas>section.salas-lesto .conteudo .lesto-sala .clientes .ambiente-lesto p {
                font-size: 12px;
              }
            div.pg.salas>section.salas-lesto .conteudo .lesto-sala .mais-sobre{
              padding: 10px;
              padding-bottom: 0;
            }
              div.pg.salas>section.salas-lesto .conteudo .lesto-sala .mais-sobre ul{
              display: flex;
              justify-content: center;
              }
                div.pg.salas>section.salas-lesto .conteudo .lesto-sala .mais-sobre ul li{
                background: var(--Lesto_templateCinzaEscuro);
                color: #fff;
                padding: 5px 15px;
                margin: 1px;
                font-size: 18px;
                border-radius: 6px 0px 0px 6px;
                cursor:pointer;
                }
                 div.pg.salas>section.salas-lesto .conteudo .lesto-sala .mais-sobre ul li.rigth{
                   
                 border-radius: 0px 6px 6px 0px;
                 }
                  div.pg.salas>section.salas-lesto .conteudo .lesto-sala .mais-sobre ul li a{
                  background: var(--lesto_fontpreta);
                  }
        div.pg.salas>section.salas-lesto .observacao{
          text-align: center;
          padding-top: 30px;

          }
          div.pg.salas>section.salas-lesto .observacao p{
            padding: 0 20px;
          }
          div.pg.salas>section.lesto-fale-conosco{
            padding: 0 20px;
            padding-bottom: 45px;
          }
          div.pg.salas>section.lesto-fale-conosco .container form{
            max-width: 700px;
            display: block;
            margin: 0 auto;
          }
           div.pg.salas>section.lesto-fale-conosco .container form .btn-enviar input{
            margin: 0 auto;
           }