	<head>
		<!-- META -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta property="og:title" content="" />
		<meta property="og:description" content="" />
		<meta property="og:url" content="" />
		<meta property="og:image" content=""/>
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="" />
		
		<!-- TÍTULO -->
		<title>Site Lesto</title>

		<!-- FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
		<link rel="stylesheet" href="css/site.css" />

		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<!-- <script src="http://areaaperta.com/nicescroll/js/jquery.nicescroll.min.js"></script> -->
		<script src="js/geral.js"></script>

		<!-- FAVICON -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" /> 
	</head>
<body>
	<span class="abrirModal"><i class="fas fa-times"></i></span>

	<!-- PAGINA MODAL CONTRATAR -->
		<div class="pg modal-contrate">
			<section class="lesto-fale-conosco contrate">
					<div class="container">
						<form action="" method="post">
							<span class="fecharModal"><i class="fas fa-times"></i></span>

							<div class="row">

								<div class="form-titulo">
									<span> Contratar Serviço </span>
								</div>
	                            <div class="form-subtitulo">
	                            	<span> Se interessou? Receba os valores no seu e-mail</span>
	                            	<p>Preencha o formulário para saber mais sobre os planos de coworking! Em breve, entramos em contato</p>
	                            </div>
								<div class="col-md-12">
									<div class="form-info">
										<div class="info">
											<label for="nome"> Seu Nome</label>
											<input type="text" id="nome" Placeholder="Nome" />
									    </div>
									    <div  class="info">
										    <label for="email">Seu e-email</label>
										    <input type="text" id="email" Placeholder="E-mail" />
										</div>
										<div  class="info full">
										    <label for="assunto">Assunto</label>
										    <input type="text" id="assunto" Placeholder="Assunto" />
										</div>
										<div class="info full textarea">
											<label for="mensagem" >Mensagem</label>
											<textarea Placeholder="Mensagem"> </textarea> 
									    </div>
									    <div class="btn-enviar">
									    	<input type="submit"> </input>
									    </div>
								    </div>
								</div>
									
							</div>
						</form>					
					</div>	
					</div>			
			</section>
		</div>

</body>